.container {
  background-color: #f6f6f6;
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr fit-content(100%);
  grid-template-columns: 1fr;
}

.profileTextContainer {
  padding: 0 7vw 0 7vw;
  margin: 1vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profileTextContainer > * {
  margin: 1vh 0vh;
}

.profileTitle {
  font-size: 32px;
  color: #333;
  font-weight: bold;
}

.profileSubtitle {
  font-size: 20px;
  color: #666;
}

.profileDetail {
  font-size: 16px;
  color: #333;
}

.profileDetailTitle {
  font-weight: bold;
}

@media (max-width: 768px) {
  .profileTextContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profileTextContainer > * {
    text-align: center;
  }
}
